<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="heron_hydro_model" params="namespace">

      <bodyName>${namespace}/base_link</bodyName>
      <!-- Must be same as the ocean model!-->
      <waterLevel>0</waterLevel>
      <waterDensity>997.8</waterDensity>
      <!-- Added mass -->
      <xDotU>0</xDotU>
      <yDotV>0</yDotV>
      <zDotW>0</zDotW>
      <kDotP>0</kDotP>
      <kDotP>0</kDotP>
      <mDotQ>0</mDotQ>
      <nDotR>0</nDotR>
      <!-- Linear and quadratic drag -->
      <xU>16.44998712</xU>
      <xUU>2.942</xUU>
      <yV>15.79776044</yV>
      <yVV>2.7617212</yVV>
      <zW>100</zW>
      <zWW>10</zWW>
      <kP>13</kP>
      <kPP>5</kPP>
      <mQ>13</mQ>
      <mQQ>5</mQQ>
      <nR>6</nR>
      <nRR>5</nRR>

    </xacro:macro>

    <xacro:macro name="heron_buoyancy_model" params="namespace">
      <!-- Wave model -->
      <wave_model>ocean_waves</wave_model>
      <fluid_density>997.8</fluid_density>
      <fluid_level>0</fluid_level>
      <linear_drag>0</linear_drag>
      <angular_drag>0</angular_drag>

      <buoyancy>
        <link_name>${namespace}/base_link</link_name>
        <pose>0 -0.5 -0.05 0 1.57 0</pose>
        <geometry>
            <cylinder>
                <radius>0.15</radius>
                <length>1.35</length>
            </cylinder>
        </geometry>
      </buoyancy>

      <buoyancy>
        <link_name>${namespace}/base_link</link_name>
        <pose>0 0.5 -0.05 0 1.57 0</pose>
        <geometry>
            <cylinder>
                <radius>0.15</radius>
                <length>1.35</length>
            </cylinder>
        </geometry>
      </buoyancy>
    </xacro:macro>

</robot>
